[Unit]
Description=Radxa first boot setup
Documentation=https://github.com/radxa-pkg/rsetup/
[Service]
Type=simple
ExecStart=/usr/sbin/rsetup __first-boot
[Install]
WantedBy=multi-user.target