[Unit]
Description=Radxa first boot setup
Documentation=https://github.com/radxa-pkg/rsetup/
[Service]
Type=simple
ExecStart=/usr/bin/rsetup __first_boot
[Install]
WantedBy=multi-user.target