Source: rsetup
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: admin
Priority: standard
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               lintian,
               pandoc,
               shellcheck,

Package: rsetup
Architecture: all
Section: admin
Priority: standard
Depends: device-tree-compiler,
         gdisk,
         parted,
         pkexec | policykit-1 (<< 122-1),
         whiptail,
         yq,
         ${misc:Depends},
Suggests: x-terminal-emulator
Description: Radxa system setup utility
 Radxa system setup utility (rsetup) provides an user friendly menu to
 perform many essential system configuration tasks. It also provides
 an on-boot configuration service to allow customization.

Package: rsetup-config-thermal-governor-step-wise
Architecture: all
Section: admin
Priority: standard
Depends: rsetup (= ${binary:Version}),
         ${misc:Depends},
Description: Radxa system config - Set thermal_governor to step_wise
 This package set thermal_governor to step_wise on boot.
