[Unit]
Description=Reset AIC8800 Bluetooth on %I
Documentation=https://github.com/radxa-pkg/rsetup/
Requires=rsetup-hciattach@%i.device
Before=rsetup-hciattach@%i.device

[Service]
Type=forking
ExecStart=/usr/bin/rsetup __aic8800_reset %I

[Install]
WantedBy=multi-user.target
